 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hello, my name is Maksim. Having finished IT-Security masters at TU-Darmstadt I am currently employed at Security Operations Center (SOC) in banking and finance field.</p>
                </div>
                <div class="col-lg-4">
                    <p>Besides IT-Security my hobbies include financial data-science, machine learning and social-media marketing. While I mainly code in python I also posess expertise in Flutter, Java, web-development and cloud technologies.</p>
                </div>
            </div>
        </div>
    </section>
